{% extends 'base.html' %}
{% load static %}
            {% block content %}
            {% block title %}Browse Properties - Realtinic{% endblock %}	
            <!-- wrapper  -->	
            <div id="wrapper">
                <!-- content -->	
                <div class="content">
                    <!--  section  -->
                    <section class="hidden-section single-par2  " data-scrollax-parent="true">
                        <div class="bg-wrap bg-parallax-wrap-gradien">
                            <div class="bg par-elem "  data-bg="images/bg/10.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                        </div>
                        <div class="container">
                            <div class="section-title center-align big-title">
                                <h2><span>Our Contacts</span></h2>
                                <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut nec tincidunt arcu, sit amet fermentum sem.</h4>
                            </div>
                            <div class="scroll-down-wrap">
                                <div class="mousey">
                                    <div class="scroller"></div>
                                </div>
                                <span>Scroll Down To Discover</span>
                            </div>
                        </div>
                    </section>
                    <!--  section  end--> 		
                    <!-- breadcrumbs-->
                    <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
                        <div class="container">
                            <div class="breadcrumbs-list">
                                <a href="#">Home</a> <a href="#">Pages</a><span>Contacts</span>
                            </div>
                            <div class="share-holder hid-share">
                                <a href="#" class="share-btn showshare sfcs">  <i class="fas fa-share-alt"></i>  Share   </a>
                                <div class="share-container  isShare"></div>
                            </div>
                        </div>
                    </div>
                    <!-- breadcrumbs end -->
                    <!-- section -->
                    <section class="gray-bg small-padding">
                        <div class="container">
                            <div class="row">
                                <!-- services-item -->
                                <div class="col-md-4">
                                    <div class="services-item fl-wrap">
                                        <i class="fal fa-envelope"></i>
                                        <h4>Our Mails <span>01</span></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        <a href="#" class="serv-link sl-b">yourmail@domain.com</a>
                                    </div>
                                </div>
                                <!-- services-item  end-->
                                <!-- services-item -->
                                <div class="col-md-4">
                                    <div class="services-item fl-wrap">
                                        <i class="fal fa-phone-rotary"></i>
                                        <h4>Our Phones<span>02</span></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        <a href="#" class="serv-link sl-b">+7(111)123456789</a>
                                    </div>
                                </div>
                                <!-- services-item  end-->
                                <!-- services-item -->
                                <div class="col-md-4">
                                    <div class="services-item fl-wrap">
                                        <i class="fal fa-map-marked"></i>
                                        <h4>Our Adress <span>03</span></h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
                                        <a href="#" class="serv-link sl-b">USA 27TH Brooklyn NY</a>
                                    </div>
                                </div>
                                <!-- services-item  end-->								
                            </div>
                            <div class="clearfix"></div>
                            <div class="contacts-opt fl-wrap">
                                <div class="contact-social">
                                    <span class="cs-title">Find us on: </span>
                                    <ul>
                                        <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                    </ul>
                                </div>
                                <a href="#" class="btn small-btn float-btn color-bg cf_btn">Write Mesagge</a>
                                <div class="contact-notifer">Or visit our <a href="help.html">  help page</a></div>
                            </div>
                            <!--box-widget  -->			
                            <div class="box-widget">
                                <div class="box-widget-title single_bwt fl-wrap   ">Office Location</div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla.</p>
                                <!--box-widget end-->
                            </div>
                            <!--box-widget-->
                            <div class="box-widget fl-wrap">
                                <div class="map-widget contacts-map fl-wrap">
                                    <div class="map-container mapC_vis">
                                        <div id="singleMap" data-latitude="40.7427837" data-longitude="-73.11445617675781"   data-infotitle="Our Loacation In NewYork" data-infotext="70 Bright St New York, USA"></div>
                                        <div class="scrollContorl"></div>
                                    </div>
                                </div>
                            </div>
                            <!--box-widget end --> 									
                        </div>
                    </section>
                    <!-- section end-->	
                </div>
                <!-- content end -->	
                <!-- subscribe-wrap -->	
                <div class="subscribe-wrap fl-wrap">
                    <div class="container">
                        <div class="subscribe-container fl-wrap color-bg">
                            <div class="pwh_bg"></div>
                            <div class="mrb_dec mrb_dec3"></div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="subscribe-header">
                                        <h4>newsletter</h4>
                                        <h3>Sign up for newsletter and get latest news and update</h3>
                                    </div>
                                </div>
                                <div class="col-md-1"></div>
                                <div class="col-md-5">
                                    <div class="footer-widget fl-wrap">
                                        <div class="subscribe-widget fl-wrap">
                                            <div class="subcribe-form">
                                                <form id="subscribe">
                                                    <input class="enteremail fl-wrap" name="email" id="subscribe-email" placeholder="Enter Your Email" spellcheck="false" type="text">
                                                    <button type="submit" id="subscribe-button" class="subscribe-button color-bg">  Subscribe</button>
                                                    <label for="subscribe-email" class="subscribe-message"></label>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- subscribe-wrap end -->	
                <!-- footer -->	
                <footer class="main-footer fl-wrap">
                    <div class="footer-inner fl-wrap">
                        <div class="container">
                            <div class="row">
                                <!-- footer widget-->
                                <div class="col-md-3">
                                    <div class="footer-widget fl-wrap">
                                        <div class="footer-widget-logo fl-wrap">
                                            <img src="images/logo.png" alt="">
                                        </div>
                                        <p>Realtinic - Where you can find the next property to buy, or to rent, or where ever you are in the market. You can also post your home for sale or lease, or dive into our huge database of any other listings.</p>
                                    </div>
                                </div>
                                <!-- footer widget end-->
                                <!-- footer widget-->
                                <div class="col-md-3">
                                    <div class="footer-widget fl-wrap">
                                        <div class="footer-widget-title fl-wrap">
                                            <h4>Helpful links</h4>
                                        </div>
                                        <ul class="footer-list fl-wrap">
                                            <li><a href="about">About Our Company</a></li>
                                            <li><a href="blog">News and Blog</a></li>
                                            <li><a href="download">Download</a></li>
                                            <li><a href="help">Help Center</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- footer widget end--> 
                                <!-- footer widget-->
                                <div class="col-md-3">
                                    <div class="footer-widget fl-wrap">
                                        <div class="footer-widget-title fl-wrap">
                                            <h4>Contacts Info</h4>
                                        </div>
                                        <ul  class="footer-contacts fl-wrap">
                                            <li><span><i class="fal fa-envelope"></i> Mail :</span><a href="mailto:support@realtinic.com" target="_blank">support@realtinic.com</a></li>
                                            <li><span><i class="fal fa-phone"></i> Phone :</span><a href="tel:+2349037817373">+234(0)9037817373</a></li>
                                        </ul>
                                        <div class="footer-social fl-wrap">
                                            <ul>
                                                <li><a href="https://web.facebook.com/realtinic" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="https://twitter.com/realtinic" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="https://www.instagram.com/realtinic_/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="https://www.linkedin.com/company/realtinic" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                                                <li><a href="https://youtube.com/channel/UCMb2WLOZova9ykm1WzE0spQ" target="_blank"><i class="fab fa-youtube"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- footer widget end-->   
                                <!-- footer widget-->
                                <div class="col-md-3">
                                    <div class="footer-widget fl-wrap">
                                        <div class="footer-widget-title fl-wrap">
                                            <h4>Affliates and Subsidiaries</h4>
                                        </div>
                                        <ul class="footer-list fl-wrap">
                                            <li><a href="https://www.manager.realtinic.com" target="_blank">Realtinic Rental Manager</a></li>
                                            <!-- <li><a href="https://www.guvenrealty.com" target="_blank">Guven Realty</a></li> -->
                                        </ul>
                                    </div>
                                </div>
                                <!-- footer widget end-->                                     
                            </div>
                        </div>
                    </div>
                    <!--sub-footer-->
                    <div class="sub-footer gray-bg fl-wrap">
                        <div class="container">
                            <div class="copyright"> &#169; Realtinic 2022 .  All rights reserved.</div>
                            <div class="subfooter-nav">
                                <ul class="no-list-style">
                                    <li><a href="terms">Terms of use</a></li>
                                    <li><a href="privacy_policy">Privacy Policy</a></li>
                                    <li><a href="blog">Blog</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!--sub-footer end -->                     
                </footer>
            {% endblock content %}
    </body>
</html>