{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %} {{ user.first_name }}'s Profile - Realtinic{% endblock %}
            <div id="wrapper">
                <!-- dashbard-menu-wrap -->
                <div class="dashbard-menu-overlay"></div>
                <div class="dashbard-menu-wrap">
                    <div class="dashbard-menu-close"><i class="fal fa-times"></i></div>
                    <div class="dashbard-menu-container">
                        <!-- user-profile-menu-->
                        <div class="user-profile-menu">
                            <h3>Main</h3>
                            <ul class="no-list-style">
                                <li><a href="my-dashboard"><i class="fal fa-chart-line"></i>Dashboard</a></li>
                                <li><a href="my-profile" class="user-profile-act"><i class="fal fa-user-edit"></i> Edit profile</a></li>
                                <li><a href="my-messages"><i class="fal fa-envelope"></i> Messages <span>3</span></a></li>
                            </ul>
                        </div>
                        <!-- user-profile-menu end-->
                        <!-- user-profile-menu-->
                        <div class="user-profile-menu">
                            <h3>Listings</h3>
                            <ul  class="no-list-style">
                                <li><a href="my-listings"><i class="fal fa-th-list"></i> My listings  </a></li>
                                <li><a href="my-bookings"> <i class="fal fa-calendar-check"></i> Bookings <span>2</span></a></li>
                                <li><a href="my-reviews"><i class="fal fa-comments-alt"></i> Reviews </a></li>
                                <li><a href="add-listing"><i class="fal fa-file-plus"></i> Add New</a></li>
                            </ul>
                        </div>
                        <!-- user-profile-menu end--> 
                    </div>
                    <div class="dashbard-menu-footer"> &#169;  Realtinic 2022 .  All rights reserved.</div>
                </div>
                <!-- dashbard-menu-wrap end  -->		
                <!-- content -->	
                <div class="dashboard-content">
                    <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
                    <div class="container dasboard-container">
                        <!-- dashboard-title -->	
                        <div class="dashboard-title fl-wrap">
                            <div class="dashboard-title-item"><span>Your Agents</span></div>
                            <div class="dashbard-menu-header">
                                <div class="dashbard-menu-avatar fl-wrap">
                                    <img src="images/avatar/5.jpg" alt="">
                                    <h4>Welcome, <span>Alica Noory</span></h4>
                                </div>
                                <a href="index.html" class="log-out-btn   tolt" data-microtip-position="bottom"  data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                            </div>
                            <!--Tariff Plan menu-->
                            <div class="tfp-det-container">
                                <div   class="tfp-btn"><span>Your Tariff Plan : </span> <strong>Extended</strong></div>
                                <div class="tfp-det">
                                    <p>You Are on <a href="#">Extended</a> . Use link bellow to view details or upgrade. </p>
                                    <a href="#" class="tfp-det-btn color-bg">Details</a>
                                </div>
                            </div>
                            <!--Tariff Plan menu end-->						
                        </div>
                        <!-- dashboard-title end -->		
                        <div class="dasboard-wrapper fl-wrap">
                            <div class="dasboard-listing-box fl-wrap">
                                <div class="dasboard-opt sl-opt fl-wrap">
                                    <div class="dashboard-search-listing">
                                        <input type="text" onclick="this.select()" placeholder="Search" value="">
                                        <button type="submit"><i class="far fa-search"></i></button>
                                    </div>
                                    <a href="#" class="gradient-bg dashboard-addnew_btn show-popup-form">Add New <i class="fal fa-plus"></i></a>	
                                    <!-- price-opt-->
                                    <div class="price-opt">
                                        <span class="price-opt-title">Sort   by:</span>
                                        <div class="listsearch-input-item">
                                            <select data-placeholder="Lastes" class="chosen-select no-search-select" >
                                                <option>Lastes</option>
                                                <option>Oldes</option>
                                                <option>Average rating</option>
                                                <option>Name: A-Z</option>
                                                <option>Name: Z-A</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- price-opt end-->
                                    <div class="popup-form">
                                        <div class="custom-form">
                                            <label>Name <span class="dec-icon"><i class="fas fa-user"></i></span></label>
                                            <input type="text" placeholder="Alica Noory" value=""/>
                                            <label>Email Address <span class="dec-icon"><i class="far fa-envelope"></i></span></label>
                                            <input type="text" placeholder="AlicaNoory@domain.com" value=""/>
                                            <label>Agent Link<span class="dec-icon"><i class="fal fa-link"></i></span></label>
                                            <input type="text" placeholder="homeradar.net/agent-alicanoory/" value=""/>	
                                            <button type="submit" class="btn float-btn color-bg fw-btn"> Send</button>
                                        </div>
                                    </div>
                                </div>
                                <!-- dashboard-listings-wrap-->
                                <div class="dashboard-listings-wrap fl-wrap">
                                    <div class="row">
                                        <!-- dashboard-listings-item-->
                                        <div class="col-md-4">
                                            <!--  agent card item -->
                                            <div class="listing-item">
                                                <article class="geodir-category-listing fl-wrap">
                                                    <div class="geodir-category-img fl-wrap  agent_card">
                                                        <a href="agent-single.html" class="geodir-category-img_item">
                                                        <img src="images/agency/agent/2.jpg" alt="">
                                                        </a>
                                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"><span class="re_stars-title">Excellent</span></div>
                                                    </div>
                                                    <div class="geodir-category-content fl-wrap">
                                                        <div class="card-verified tolt" data-microtip-position="left" data-tooltip="Verified"><i class="fal fa-user-check"></i></div>
                                                        <div class="agent_card-title fl-wrap">
                                                            <h4><a href="agent-single.html" >Liza Rose</a></h4>
                                                            <h5><a href="agency-single.html">Mavers RealEstate agency</a></h5>
                                                        </div>
                                                        <div class="agent-card-facts fl-wrap">
                                                            <ul>
                                                                <li>Listings<span>24</span></li>
                                                                <li>Reviews<span>18</span></li>
                                                                <li>Bookings<span>124</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="geodir-category-footer fl-wrap">
                                                            <a href="agent-single.html" class="btn float-btn color-bg small-btn">View Profile</a>
                                                            <a href="#" class="tolt ftr-btn" data-microtip-position="left" data-tooltip="Delete"><i class="fal fa-trash"></i></a>
                                                            <a href="#" class="tolt ftr-btn" data-microtip-position="left" data-tooltip="Verify"><i class="fal fa-user-check"></i></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <!--  agent card item end -->										
                                        </div>
                                        <!-- dashboard-listings-item end--> 									
                                        <!-- dashboard-listings-item-->
                                        <div class="col-md-4">
                                            <!--  agent card item -->
                                            <div class="listing-item">
                                                <article class="geodir-category-listing fl-wrap">
                                                    <div class="geodir-category-img fl-wrap  agent_card">
                                                        <a href="agent-single.html" class="geodir-category-img_item">
                                                        <img src="images/agency/agent/3.jpg" alt="">
                                                        </a>
                                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="3"><span class="re_stars-title">Average</span></div>
                                                    </div>
                                                    <div class="geodir-category-content fl-wrap">
                                                        <div class="card-verified cv_not tolt" data-microtip-position="left" data-tooltip="Not Verified"><i class="fal fa-minus-octagon"></i></div>
                                                        <div class="agent_card-title fl-wrap">
                                                            <h4><a href="agent-single.html" >Jane Kobart</a></h4>
                                                            <h5><a href="agency-single.html">Mavers RealEstate agency</a></h5>
                                                        </div>
                                                        <div class="agent-card-facts fl-wrap">
                                                            <ul>
                                                                <li>Listings<span>14</span></li>
                                                                <li>Reviews<span>28</span></li>
                                                                <li>Bookings<span>321</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="geodir-category-footer fl-wrap">
                                                            <a href="agent-single.html" class="btn float-btn color-bg small-btn">View Profile</a>
                                                            <a href="#" class="tolt ftr-btn" data-microtip-position="left" data-tooltip="Delete"><i class="fal fa-trash"></i></a>
                                                            <a href="#" class="tolt ftr-btn" data-microtip-position="left" data-tooltip="Verify"><i class="fal fa-user-check"></i></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <!--  agent card item end -->										
                                        </div>
                                        <!-- dashboard-listings-item end-->  
                                        <!-- dashboard-listings-item-->
                                        <div class="col-md-4">
                                            <!--  agent card item -->
                                            <div class="listing-item">
                                                <article class="geodir-category-listing fl-wrap">
                                                    <div class="geodir-category-img fl-wrap  agent_card">
                                                        <a href="agent-single.html" class="geodir-category-img_item">
                                                        <img src="images/agency/agent/5.jpg" alt="">
                                                        </a>
                                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"><span class="re_stars-title">Excellent</span></div>
                                                    </div>
                                                    <div class="geodir-category-content fl-wrap">
                                                        <div class="card-verified tolt" data-microtip-position="left" data-tooltip="Verified"><i class="fal fa-user-check"></i></div>
                                                        <div class="agent_card-title fl-wrap">
                                                            <h4><a href="agent-single.html" >Bill Trust</a></h4>
                                                            <h5><a href="agency-single.html">Mavers RealEstate agency</a></h5>
                                                        </div>
                                                        <div class="agent-card-facts fl-wrap">
                                                            <ul>
                                                                <li>Listings<span>12</span></li>
                                                                <li>Reviews<span>38</span></li>
                                                                <li>Bookings<span>68</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="geodir-category-footer fl-wrap">
                                                            <a href="agent-single.html" class="btn float-btn color-bg small-btn">View Profile</a>
                                                            <a href="#" class="tolt ftr-btn" data-microtip-position="left" data-tooltip="Delete"><i class="fal fa-trash"></i></a>
                                                            <a href="#" class="tolt ftr-btn" data-microtip-position="left" data-tooltip="Verify"><i class="fal fa-user-check"></i></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <!--  agent card item end -->										
                                        </div>
                                        <!-- dashboard-listings-item end--> 
                                        <!-- dashboard-listings-item-->
                                        <div class="col-md-4">
                                            <!--  agent card item -->
                                            <div class="listing-item">
                                                <article class="geodir-category-listing fl-wrap">
                                                    <div class="geodir-category-img fl-wrap  agent_card">
                                                        <a href="agent-single.html" class="geodir-category-img_item">
                                                        <img src="images/agency/agent/4.jpg" alt="">
                                                        </a>
                                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="4"><span class="re_stars-title">Good</span></div>
                                                    </div>
                                                    <div class="geodir-category-content fl-wrap">
                                                        <div class="card-verified cv_not tolt" data-microtip-position="left" data-tooltip="Not Verified"><i class="fal fa-minus-octagon"></i></div>
                                                        <div class="agent_card-title fl-wrap">
                                                            <h4><a href="agent-single.html" >Andy Sposty</a></h4>
                                                            <h5><a href="agency-single.html">Mavers RealEstate agency</a></h5>
                                                        </div>
                                                        <div class="agent-card-facts fl-wrap">
                                                            <ul>
                                                                <li>Listings<span>10</span></li>
                                                                <li>Reviews<span>44</span></li>
                                                                <li>Bookings<span>98</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="geodir-category-footer fl-wrap">
                                                            <a href="agent-single.html" class="btn float-btn color-bg small-btn">View Profile</a>
                                                            <a href="#" class="tolt ftr-btn" data-microtip-position="left" data-tooltip="Delete"><i class="fal fa-trash"></i></a>
                                                            <a href="#" class="tolt ftr-btn" data-microtip-position="left" data-tooltip="Verify"><i class="fal fa-user-check"></i></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <!--  agent card item end -->										
                                        </div>
                                        <!-- dashboard-listings-item end-->  
                                        <!-- dashboard-listings-item-->
                                        <div class="col-md-4">
                                            <!--  agent card item -->
                                            <div class="listing-item">
                                                <article class="geodir-category-listing fl-wrap">
                                                    <div class="geodir-category-img fl-wrap  agent_card">
                                                        <a href="agent-single.html" class="geodir-category-img_item">
                                                        <img src="images/agency/agent/6.jpg" alt="">
                                                        </a>
                                                        <div class="listing-rating card-popup-rainingvis" data-starrating2="5"><span class="re_stars-title">Excellent</span></div>
                                                    </div>
                                                    <div class="geodir-category-content fl-wrap">
                                                        <div class="card-verified tolt" data-microtip-position="left" data-tooltip="Verified"><i class="fal fa-user-check"></i></div>
                                                        <div class="agent_card-title fl-wrap">
                                                            <h4><a href="agent-single.html" >Martin Smith</a></h4>
                                                            <h5><a href="agency-single.html">Mavers RealEstate agency</a></h5>
                                                        </div>
                                                        <div class="agent-card-facts fl-wrap">
                                                            <ul>
                                                                <li>Listings<span>06</span></li>
                                                                <li>Reviews<span>18</span></li>
                                                                <li>Bookings<span>33</span></li>
                                                            </ul>
                                                        </div>
                                                        <div class="geodir-category-footer fl-wrap">
                                                            <a href="agent-single.html" class="btn float-btn color-bg small-btn">View Profile</a>
                                                            <a href="#" class="tolt ftr-btn" data-microtip-position="left" data-tooltip="Delete"><i class="fal fa-trash"></i></a>
                                                            <a href="#" class="tolt ftr-btn" data-microtip-position="left" data-tooltip="Verify"><i class="fal fa-user-check"></i></a>
                                                        </div>
                                                    </div>
                                                </article>
                                            </div>
                                            <!--  agent card item end -->										
                                        </div>
                                        <!-- dashboard-listings-item end-->												
                                    </div>
                                </div>
                                <!-- dashboard-listings-wrap end-->
                            </div>
                            <!-- pagination-->
                            <div class="pagination float-pagination">
                                <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                                <a href="#" >1</a>
                                <a href="#" class="current-page">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                            </div>
                            <!-- pagination end-->	
                        </div>
                    </div>
                    <div class="dashboard-footer">
                        <div class="dashboard-footer-links fl-wrap">
                            <span>Helpfull Links:</span>
                            <ul>
                                <li><a href="about">About  </a></li>
                                <li><a href="blog">Blog</a></li>
                                <!-- <li><a href="terms">Terms of use</a></li>
                                <li><a href="privacy_policy">Privacy Policy</a></li> -->
                                <li><a href="contacts">Contact Us</a></li>
                                <li><a href="help">Help Center</a></li>
                            </ul>
                        </div>
                        <a href="#main" class="dashbord-totop  custom-scroll-link"><i class="fas fa-caret-up"></i></a>
                    </div>
                    <!-- dashboard-footer end -->			
                </div>
                <!-- content end -->	
                <div class="dashbard-bg gray-bg"></div>
            </div>
            <!-- wrapper end -->
        </div>
        {% endblock %}