{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %} {{ user.first_name }}'s Profile - Realtinic{% endblock %}
            <div id="wrapper">
                <!-- dashbard-menu-wrap -->
                <div class="dashbard-menu-overlay"></div>
                <div class="dashbard-menu-wrap">
                    <div class="dashbard-menu-close"><i class="fal fa-times"></i></div>
                    <div class="dashbard-menu-container">
                        <!-- user-profile-menu-->
                        <div class="user-profile-menu">
                            <h3>Main</h3>
                            <ul class="no-list-style">
                                <li><a href="my-dashboard"><i class="fal fa-chart-line"></i>Dashboard</a></li>
                                <li><a href="my-profile"><i class="fal fa-user-edit"></i> Edit profile</a></li>
                                <li><a href="my-messages"><i class="fal fa-envelope"></i> Messages <span>3</span></a></li>
                            </ul>
                        </div>
                        <!-- user-profile-menu end-->
                        <!-- user-profile-menu-->
                        <div class="user-profile-menu">
                            <h3>Listings</h3>
                            <ul  class="no-list-style">
                                <li><a href="my-listings"><i class="fal fa-th-list"></i> My listings  </a></li>
                                <li><a href="my-bookings" class="user-profile-act"> <i class="fal fa-calendar-check"></i> Bookings <span>2</span></a></li>
                                <li><a href="my-reviews"><i class="fal fa-comments-alt"></i> Reviews </a></li>
                                <li><a href="add-listing"><i class="fal fa-file-plus"></i> Add New</a></li>
                            </ul>
                        </div>
                        <!-- user-profile-menu end--> 
                    </div>
                    <div class="dashbard-menu-footer"> &#169;  Realtinic 2022 .  All rights reserved.</div>
                </div>
                <!-- dashbard-menu-wrap end  -->		
                <!-- content -->	
                <div class="dashboard-content">
                    <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
                    <div class="container dasboard-container">
                      <!-- dashboard-title -->	
                      <div class="dashboard-title fl-wrap">
                        <div class="dashboard-title-item"><span>Bookings</span></div>
                        <div class="dashbard-menu-header">
                            {% if user.profilepic.url == '' %}
                            <div class="dashbard-menu-avatar fl-wrap">
                                <img src="https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Sunglasses&facialHairType=Blank&clotheType=Hoodie&clotheColor=Pink&eyeType=Hearts&eyebrowType=Default&mouthType=Smile&skinColor=Tanned" alt="User Profile">
                                <h4>Welcome, <span> {{ user.first_name }} {{user.last_name }}</span></h4>
                            </div>
                            <a href="/logout" class="log-out-btn   tolt" data-microtip-position="bottom"  data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                            {% else %}
                            <div class="dashbard-menu-avatar fl-wrap">
                                <img src="{{user.profilepic.url}}" alt="{{user.profile_pic.url}}">
                                <h4>Welcome, <span> {{ user.first_name }} {{user.last_name }}</span></h4>
                            </div>
                            <a href="/logout" class="log-out-btn   tolt" data-microtip-position="bottom"  data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                            {% endif %}
                        </div>					
                    </div>
                    <!-- dashboard-title end -->		
                        <div class="dasboard-wrapper fl-wrap">
                            <div class="dasboard-widget-title fl-wrap">
                                <h5><i class="fal fa-comments-alt"></i>Last Bookings <span> ( +3 New ) </span></h5>
                                <a href="#" class="mark-btn  tolt" data-microtip-position="bottom" data-tooltip="Mark all as read"><i class="far fa-comment-alt-check"></i> </a>
                            </div>
                            <div class="dasboard-widget-box fl-wrap">
                                <div class="dasboard-opt fl-wrap">
                                    <!-- price-opt-->
                                    <div class="price-opt">
                                        <span class="price-opt-title">Sort   by:</span>
                                        <div class="listsearch-input-item">
                                            <select data-placeholder="Lastes" class="chosen-select no-search-select" >
                                                <option>Lastest</option>
                                                <option>Oldest</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- price-opt end-->
                                </div>
                                <div class="row">
                                    <!-- bookings-item -->  
                                    <div class="col-md-6">
                                        {% for booking in bookings %}
                                        <div class="bookings-item fl-wrap">
                                            <div class="bookings-item-header fl-wrap">
                                                <img src="{{booking.property.header_image.url}}" alt="">
                                                <h4>For <a href="/listing/{{booking.property.id}}" target="_blank">{{booking.property.name}}</a></h4>
                                                <span class="new-bookmark">New</span>
                                            </div>
                                            <div class="bookings-item-content fl-wrap">
                                                <ul>
                                                    <li>Name: <span>{{booking.user.first_name}} {{booking.user.last_name}}</span></li>
                                                    <li>Phone: <span>{{booking.user.tel}}</span></li>
                                                    <li>Date: <span>{{booking.start_date}}</span></li>
                                                    <li>Time: <span>{{booking.time}}</span></li>
                                                </ul>
                                            </div>
                                            <div class="bookings-item-footer fl-wrap">
                                                <span class="message-date">{{booking.date_created}}</span>
                                                <ul>
                                                    <li><a href="#" class="tolt" data-microtip-position="top-left"  data-tooltip="Write"><i class="far fa-envelope"></i></a></li>
                                                    <li><a href="#" class="tolt" data-microtip-position="top-left"  data-tooltip="Call"><i class="far fa-phone"></i></a></li>
                                                    <li><a href="#" class="tolt" data-microtip-position="top-left"  data-tooltip="Delete"><i class="far fa-trash"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                    <!--bookings-item end-->  
                                					
                                </div>
                            </div>
                            <!-- pagination-->
                            <div class="pagination float-pagination">
                                <a href="#" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                                <a href="#" >1</a>
                                <a href="#" class="current-page">2</a>
                                <a href="#">3</a>
                                <a href="#">4</a>
                                <a href="#" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                            </div>
                            <!-- pagination end-->	
                        </div>
                    </div>
                    <div class="dashboard-footer">
                        <div class="dashboard-footer-links fl-wrap">
                            <span>Helpfull Links:</span>
                            <ul>
                                <li><a href="/about">About  </a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/terms">Terms of use</a></li>
                                <li><a href="/privacy_policy">Privacy Policy</a></li>
                                <li><a href="/help">Help Center</a></li>
                            </ul>
                        </div>
                        <a href="#main" class="dashbord-totop  custom-scroll-link"><i class="fas fa-caret-up"></i></a>
                    </div>
                    <!-- dashboard-footer end -->			
                </div>
                <!-- content end -->	
                <div class="dashbard-bg gray-bg"></div>
            </div>
            <!-- wrapper end -->
        </div>
        {% endblock %}