{% extends 'base.html' %}
{% load static %}
{% load cloudinary %}
{% block content %}
{% block title %} {{ user.first_name }}'s Profile - Realtinic{% endblock %}
            <div id="wrapper">
                <!-- dashbard-menu-wrap -->
                <div class="dashbard-menu-overlay"></div>
                <div class="dashbard-menu-wrap">
                    <div class="dashbard-menu-close"><i class="fal fa-times"></i></div>
                    <div class="dashbard-menu-container">
                        <!-- user-profile-menu-->
                        <div class="user-profile-menu">
                            <h3>Main</h3>
                            <ul class="no-list-style">
                                <li><a href="my-dashboard"><i class="fal fa-chart-line"></i>Dashboard</a></li>
                                <li><a href="my-profile" class="user-profile-act"><i class="fal fa-user-edit"></i> Edit profile</a></li>
                                <li><a href="my-messages"><i class="fal fa-envelope"></i> Messages <span>3</span></a></li>
                            </ul>
                        </div>
                        <!-- user-profile-menu end-->
                        <!-- user-profile-menu-->
                        <div class="user-profile-menu">
                            <h3>Listings</h3>
                            <ul  class="no-list-style">
                                <li><a href="my-listings"><i class="fal fa-th-list"></i> My listings  </a></li>
                                <li><a href="my-bookings"> <i class="fal fa-calendar-check"></i> Bookings <span>2</span></a></li>
                                <li><a href="my-reviews"><i class="fal fa-comments-alt"></i> Reviews </a></li>
                                <li><a href="add-listing"><i class="fal fa-file-plus"></i> Add New</a></li>
                            </ul>
                        </div>
                        <!-- user-profile-menu end--> 
                    </div>
                    <div class="dashbard-menu-footer"> &#169;  Realtinic 2022 .  All rights reserved.</div>
                </div>
                <!-- dashbard-menu-wrap end  -->		
                <!-- content -->	
                <div class="dashboard-content">
                    <div class="dashboard-menu-btn color-bg"><span><i class="fas fa-bars"></i></span>Dasboard Menu</div>
                    <div class="container dasboard-container">
                        <!-- dashboard-title -->	
                        <div class="dashboard-title fl-wrap">
                            <div class="dashboard-title-item"><span>Edit Profile</span></div>
                            <div class="dashbard-menu-header">
                                {% if user.profilepic.url != none or user.profilepic.url != '' %}
                                <div class="dashbard-menu-avatar fl-wrap">
                                    <img src="{{user.profilepic.url}}" alt="{{user.profile_pic.url}}">
                                    <h4>Welcome, <span> {{ user.first_name }} {{user.last_name }}</span></h4>
                                </div>
                                <a href="/logout" class="log-out-btn   tolt" data-microtip-position="bottom"  data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                                {% else %}
                                <div class="dashbard-menu-avatar fl-wrap">
                                    <img src="https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Sunglasses&facialHairType=Blank&clotheType=Hoodie&clotheColor=Pink&eyeType=Hearts&eyebrowType=Default&mouthType=Smile&skinColor=Tanned" alt="User Profile">
                                    <h4>Welcome, <span> {{ user.first_name }} {{user.last_name }}</span></h4>
                                </div>
                                <a href="/logout" class="log-out-btn   tolt" data-microtip-position="bottom"  data-tooltip="Log Out"><i class="far fa-power-off"></i></a>
                                {% endif %}
                            </div>					
                        </div>
                        <!-- dashboard-title end -->
                        <!-- dasboard-wrapper-->
                        <form method="post" name="info" enctype="multipart/form-data">
                            {% csrf_token %}
                        <div class="dasboard-wrapper fl-wrap no-pag">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="dasboard-widget-title fl-wrap">
                                        <h5><i class="fas fa-user-circle"></i>Change Avatar</h5>
                                    </div>
                                    <div class="dasboard-widget-box nopad-dash-widget-box fl-wrap">
                                        <div class="edit-profile-photo">
                                            {% if user.profilepic.url != none or user.profilepic.url != '' %}
                                            <img src="{{user.profilepic.url}}" class="respimg" alt="">
                                            {% else %}
                                            <img src="https://avataaars.io/?avatarStyle=Circle&topType=Hat&accessoriesType=Sunglasses&facialHairType=Blank&clotheType=Hoodie&clotheColor=Pink&eyeType=Hearts&eyebrowType=Default&mouthType=Smile&skinColor=Tanned" class="respimg" alt="">                                            
                                            {% endif %}
                                            <div class="change-photo-btn">
                                                <div class="photoUpload">
                                                    <span>Upload New Photo</span>
                                                    <input name="profile-image" type="file" class="upload" accept="image/*">
                                            </div>
                                            </div>
                                        </div>
                                        <div class="bg-wrap bg-parallax-wrap-gradien" style="background-color: purple;">
                                            <div class="bg"  data-bg="images/bg/3.jpg"></div>
                                        </div>
                                    </div>
                                    <div class="dasboard-widget-title fl-wrap">
                                        <h5><i class="fas fa-key"></i>Personal Info</h5>
                                    </div>
                                    <div class="dasboard-widget-box fl-wrap">
                                        <div class="custom-form">
                                            <label>First Name <span class="dec-icon"><i class="far fa-user"></i></span></label>
                                            <input name="first_name" type="text" placeholder="First Name" value="{{user.first_name}}"/>
                                            <label>Last Name <span class="dec-icon"><i class="fas fa-user"></i></span></label>
                                            <input name="last_name" type="text" placeholder="Last Name" value="{{ user.last_name }}"/>
                                            <label>Phone<span class="dec-icon"><i class="far fa-phone"></i> </span></label>
                                            <input name="tel" type="text" placeholder="Telephone" value="{{ user.tel }}"/>	
                                            <label>Adress <span class="dec-icon"><i class="fas fa-map-marker"></i> </span></label>
                                            <input name="address" type="text" placeholder="Location" value="{{user.location}}"/>										
                                            <label>Website <span class="dec-icon"><i class="far fa-globe"></i> </span></label>
                                            <input name="website" type="text" placeholder="Website" value="{{user.website}}"/>
                                            <label>About </label>
                                            <textarea name="bio" cols="40" rows="3" placeholder="Bio" style="margin-bottom:20px;">{{ user.bio }}</textarea>
                                            <label>Email Address <span class="dec-icon"><i class="far fa-envelope"></i></span></label>
                                            <input name="email" type="text" placeholder="Email" value="{{ user.email }}"/>
                                            <!-- <div class="dasboard-widget-title fl-wrap">
                                                <h4>Verification</h4>
                                            </div> -->

                                            <!-- <label>Agensy<span class="dec-icon"><i class="far fa-home-lg-alt"></i> </span></label>
                                            <input type="text" placeholder="Mavers RealEstate Agency" value=""/>										 -->										
                                            <button class="btn    color-bg  float-btn" name ="info">Save Changes</button>
                                        </div>
                                    </div>
                                </div>
                        </form>
                                <div class="col-md-5">
                                    <form method="post" name="password">
                                        {% csrf_token %}
                                    <div class="dasboard-widget-title dbt-mm fl-wrap">
                                        <h5><i class="fas fa-key"></i>Change Password</h5>
                                    </div>
                                    <div class="dasboard-widget-box fl-wrap">
                                        <div class="custom-form">
                                            <div class="pass-input-wrap fl-wrap">
                                                <label>Current Password<span class="dec-icon"><i class="far fa-lock-open-alt"></i></span></label>
                                                <input type="password" name="main_password" class="pass-input" placeholder="" value=""/>
                                                <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                                            </div>
                                            <div class="pass-input-wrap fl-wrap">
                                                <label>New Password<span class="dec-icon"><i class="far fa-lock-alt"></i></span></label>
                                                <input type="password" name="password" class="pass-input" placeholder="" value=""/>
                                                <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                                            </div>
                                            <div class="pass-input-wrap fl-wrap">
                                                <label>Confirm New Password<span class="dec-icon"><i class="far fa-shield-check"></i> </span></label>
                                                <input type="password" name="password2" class="pass-input" placeholder="" value=""/>
                                                <span class="eye"><i class="far fa-eye" aria-hidden="true"></i> </span>
                                            </div>
                                            <button class="btn color-bg float-btn" name="pword" >Save Changes</button>
                                        </form>
                                        </div>
                                    </div>
                                    <div class="dasboard-widget-title fl-wrap" style="margin-top: 30px;">
                                        <h5><i class="fas fa-share-alt"></i>Your Socials</h5>
                                    </div>
                                    <div class="dasboard-widget-box fl-wrap">
                                        <form method="post" name="socials">
                                            {% csrf_token %}
                                        <div class="custom-form">
                                            <label>Whatsapp  <span class="dec-icon"><i class="fab fa-whatsapp"></i></span></label>
                                            <input type="text" name="whatsapp" placeholder="Whatsapp Number" {% if user.whatsapp %} value="{{ user.whatsapp }}" {% endif %}/>
                                            
                                            <label>Facebook  <span class="dec-icon"><i class="fab fa-facebook"></i></span></label>
                                            <input type="text" name="facebook" placeholder="Facebook profile link" {% if user.facebook %} value="{{ user.facebook }}" {% endif %}/>

                                            <label>Twitter <span class="dec-icon"><i class="fab fa-twitter"></i></span></label>
                                            <input type="text" name="twitter" placeholder="Twitter username" {% if user.twitter %} value="{{ user.twitter }}" {% endif %}/>

                                            <label>Instagram<span class="dec-icon"><i class="fab fa-instagram"></i>  </span></label>
                                            <input type="text" name="instagram" placeholder="Instagram username" {% if user.instagram %} value="{{ user.instagram }}" {% endif %}/>

                                            <label>Linkedin<span class="dec-icon"><i class="fab fa-linkedin"></i>  </span></label>
                                            <input type="text" name="linkedin" placeholder="Linkedin link" {% if user.linkedin %} value="{{ user.linkedin }}" {% endif %}/>

                                            <button class="btn color-bg float-btn" type="submit" name="socials">Save Changes</button>
                                        </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- dasboard-wrapper end -->	
                    </div>
                    <!-- dashboard-footer -->
                    <div class="dashboard-footer">
                        <div class="dashboard-footer-links fl-wrap">
                            <span>Helpfull Links:</span>
                            <ul>
                                <li><a href="/about">About  </a></li>
                                <li><a href="/blog">Blog</a></li>
                                <li><a href="/terms">Terms of use</a></li>
                                <li><a href="privacy_policy">Privacy Policy</a></li>
                                <li><a href="/help">Help Center</a></li>
                            </ul>
                        </div>
                        <a href="#main" class="dashbord-totop  custom-scroll-link"><i class="fas fa-caret-up"></i></a>
                    </div>
                    <!-- dashboard-footer end -->			
                </div>
                <!-- content end -->	
                <div class="dashbard-bg gray-bg"></div>
            </div>
            <!-- wrapper end -->
        </div>
        {% endblock %}

        {% cloudinary_includes %}