{% extends 'base.html' %}
{% load static %}
            {% block content %}
            {% block title %}Browse Properties - Realtinic{% endblock %}
            <!-- header end  -->	
            <!-- wrapper  -->	
            <div id="wrapper">
                <!-- content -->	
                <div class="content">
                    <!-- categoties-column -->
                    <div class="categoties-column">
                        <!-- <div class="categoties-column_container cat-list">
                            <ul>
                                <li><a href="#" class="act-category"><i class="fal fa-city"></i><span>Apartments</span></a></li>
                                <li><a href="#"><i class="fal fa-car-building"></i><span>Offices</span></a></li>
                                <li><a href="#"><i class="fal fa-home"></i><span>House</span></a></li>
                                <li><a href="#"><i class="fal fa-hotel"></i><span>Hotel</span></a></li>
                                <li><a href="#"><i class="fal fa-warehouse-alt"></i><span>Villa</span></a></li>
                            </ul>
                        </div> -->
                        <div class="progress-indicator">
                            <svg xmlns="http://www.w3.org/2000/svg"
                                viewBox="-1 -1 34 34">
                                <circle cx="16" cy="16" r="15.9155"
                                    class="progress-bar__background" />
                                <circle cx="16" cy="16" r="15.9155"
                                    class="progress-bar__progress 
                                    js-progress-bar" />
                            </svg>
                        </div>
                    </div>
                    <!-- categoties-column end -->
                    <!-- Map -->
                    <div class="map-container column-map hid-mob-map">
                        <div id="map-main"></div>
                        <ul class="mapnavigation no-list-style">
                            <li><a href="#" class="prevmap-nav mapnavbtn"><span><i class="fas fa-caret-left"></i></span></a></li>
                            <li><a href="#" class="nextmap-nav mapnavbtn"><span><i class="fas fa-caret-right"></i></span></a></li>
                        </ul>
                        <div class="scrollContorl mapnavbtn tolt"   data-microtip-position="top-left" data-tooltip="Enable Scrolling"><span><i class="fal fa-unlock"></i></span></div>
                        <div class="location-btn geoLocation tolt" data-microtip-position="top-left" data-tooltip="Your location"><span><i class="fal fa-location"></i></span></div>
                        <div class="map-close"><i class="fas fa-times"></i></div>
                    </div>
                    <!-- Map end -->	
                    
                    <form method="GET" action=''>
                    <!-- top-search-content -->
                    <div class="top-search-content">
                        <div class="top-search-dec color-bg"><i class="far fa-sliders-h"></i></div>
                        <div class="top-search-content-title">Search:</div>
                        <div class="close_sb-filter"><i class="fal fa-times"></i></div>
                        <div class="custom-form fl-wrap">
                            <div class="row">
                                <!-- listsearch-input-item -->
                                <div class="col-sm-3">
                                    <div class="listsearch-input-item">
                                        <input type="text" onClick="this.select()" name="query" placeholder="Address , Street , State..." value=""/>										
                                    </div>
                                </div>
                                <!-- listsearch-input-item -->
                                <!-- listsearch-input-item -->
                                <div class="col-sm-2">
                                    <div class="listsearch-input-item">
                                        <select data-placeholder="Status" name="list_type" class="chosen-select on-radius no-search-select" >
                                            <option value=''>List Type</option>
                                            <option>For Sale</option>
                                            <option>For Rent</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- listsearch-input-item -->								
                                <!-- listsearch-input-item -->
                                <div class="col-sm-2">
                                    <div class="listsearch-input-item">
                                        <select data-placeholder="Choose City" name="city" class="chosen-select on-radius no-search-select" >
                                                <option value=''>All Cities</option>
                                                <option>Abuja</option>
                                                <option>Lagos</option>
                                                <option>Ibadan</option>
                                                <option>Osun</option>
                                            </select>
                                    </div>
                                </div>
                                <!-- listsearch-input-item -->	
                                <!-- listsearch-input-item -->
                                <div class="col-sm-2">
                                    <div class="listsearch-input-item">
                                        <select data-placeholder="Property Type" name="home_type" class="chosen-select on-radius no-search-select" >
                                            <option value=''>All Categories</option>
                                            <option>Single-family</option>
                                            <option>Semi-detached</option>
                                            <option>Apartment</option>
                                            <option>Townhomes</option>
                                            <option>Multi-family</option>
                                            <option>Mobile/Manufactured</option>
                                            <option>Condo</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- listsearch-input-item -->								
                                <!-- listsearch-input-item -->
                                <div class="col-sm-3">
                                    <div class="listsearch-input-item">
                                        <div class="price-rage-item fl-wrap">
                                            <span class="pr_title">Price:</span>                            
                                            <input type="text" class="price-range-double" data-min="10000" data-max="10000000"  name="price-range2"  data-step="10000" value="1" data-prefix="$">
                                        </div>
                                    </div>
                                </div>
                                <!-- listsearch-input-item -->								
                            </div>
                        </div>
                        <div class="more-opt_btn mor-opt-btn_act">Advanced search<span><i class="fas fa-caret-down"></i></span></div>
                        <!-- more-search-opt-wrap -->
                        <div class="more-search-opt-wrap more-hidden_wrap">
                            <div class="msotw_title fl-wrap"><i class="far fa-sliders-h"></i>Advanced Search</div>
                            <div class="close_msotw"><i class="fal fa-times"></i></div>
                            <div class="clearfix"></div>
                            <div class="row">
                                <!-- listsearch-input-item -->								
                                <div class="col-sm-3">
                                    <div class="listsearch-input-item">
                                        <label>Bedrooms</label>
                                        <select data-placeholder="Bedrooms" name="bedrooms" class="chosen-select on-radius no-search-select" >
                                            <option value=''>Select Number</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                            <option>5</option>
                                        </select>
                                    </div>
                                </div>
                                <!-- listsearch-input-item end-->
                                <!-- listsearch-input-item -->								
                                <div class="col-sm-3">
                                    <div class="listsearch-input-item">
                                        <label>Bathrooms</label>
                                        {% comment %} <select data-placeholder="Bathrooms" name="bathrooms" class="chosen-select on-radius no-search-select" >
                                            <option value=''>Select Number</option>
                                            <option>1</option>
                                            <option>2</option>
                                            <option>3</option>
                                            <option>4</option>
                                        </select> {% endcomment %}
                                    </div>
                                </div>
                                <!-- listsearch-input-item end-->
                                <!-- listsearch-input-item -->
                                <!-- listsearch-input-item end-->
                                <!-- listsearch-input-item -->
                                <!-- listsearch-input-item end-->								
                                <!-- listsearch-input-item -->
                                <div class="col-sm-6">
                                    <div class="listsearch-input-item">
                                        <label>Area Sq/ft</label>
                                        <div class="price-rage-item pr-it-nopad fl-wrap">
                                            <input type="text" class="price-range-double" data-min="1" data-max="1000000"  name="area-range2"  data-step="1" value="1" data-prefix="">
                                        </div>
                                    </div>
                                </div>
                                <!-- listsearch-input-item -->								
                            </div>
                            <div class="clearfix"></div>
                            <!-- listsearch-input-item-->
                            <div class="listsearch-input-item clact">
                                <label>Amenities</label>
                                <div class=" fl-wrap filter-tags">
                                    <ul class="no-list-style">
                                        <li>
                                            <input id="check-aa" type="checkbox" name="pool">
                                            <label for="check-aa">Has Pool</label>
                                        </li>
                                        <li>
                                            <input id="check-b" type="checkbox" name="garage">
                                            <label for="check-b"> Has Garage</label>
                                        </li>
                                        <li>
                                            <input id="check-c" type="checkbox" name="basement">
                                            <label for="check-c">Has Basement</label>
                                        </li>
                                </div>
                            </div>
                            <!-- listsearch-input-item end--> 							
                            <div class="msotw_footer">
                                <button type="submit" class="btn small-btn float-btn color-bg">Search</button>
                                <div class="reset-form reset-btn"> <i class="far fa-sync-alt"></i> Reset Filters</div>
                            </div>
                        </div>
                        <!-- more-search-opt-wrap end -->
                    </div>
                    <!-- top-search-content end -->	
                    </form>

                    <!-- col-list-wrap -->
                    <div class="col-list-wrap gray-bg ">
                        <div class="col-list-wrap_opt fl-wrap">
                            <div class="show-hidden-filter col-list-wrap_opt_btn color-bg">Show Filters</div>
                            <div class="show-hidden-map not-vis_lap col-list-wrap_opt_btn color-bg">Show Map</div>
                        </div>
                        <!-- list-main-wrap-header-->
                        <div class="list-main-wrap-header fl-wrap fixed-listing-header">
                            <div class="container">
                                <!-- list-main-wrap-title-->
                                <div class="list-main-wrap-title">
                                    <h2>Results For : <span>{{search}} </span><strong>8</strong></h2>
                                </div>
                                <!-- list-main-wrap-title end-->
                                <!-- list-main-wrap-opt-->
                                <div class="list-main-wrap-opt">
                                    <!-- price-opt-->
                                    <div class="price-opt">
                                        <span class="price-opt-title">Sort   by:</span>
                                        <div class="listsearch-input-item">
                                            <select data-placeholder="Popularity" class="chosen-select no-search-select" >
                                                <option>Popularity</option>
                                                <option>Average rating</option>
                                                <option>Price: low to high</option>
                                                <option>Price: high to low</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- price-opt end-->
                                    <!-- price-opt-->
                                    <div class="grid-opt">
                                        <ul class="no-list-style">
                                            <li class="grid-opt_act"><span class="two-col-grid act-grid-opt tolt" data-microtip-position="bottom" data-tooltip="Grid View"><i class="far fa-th"></i></span></li>
                                            <li class="grid-opt_act"><span class="one-col-grid tolt" data-microtip-position="bottom" data-tooltip="List View"><i class="far fa-list"></i></span></li>
                                        </ul>
                                    </div>
                                    <!-- price-opt end-->
                                </div>
                                <!-- list-main-wrap-opt end-->                    
                            </div>
                        </div>
                        <!-- list-main-wrap-header end-->					
                        <!-- listing-item-wrap-->
                        
                        <div class="listing-item-container fl-wrap">
                            <!-- listing-item -->
                            {% for property in propertys %}
                            <div class="listing-item">
                                <article class="geodir-category-listing fl-wrap">
                                    <div class="geodir-category-img fl-wrap">
                                        <a href="listing/{{ property.id }}" class="geodir-category-img_item">
                                            <img src="{{property.header_image.url}}" style=" max-height: 210px;" alt="{{ property.header_image.url}}">
                                            <div class="overlay"></div>
                                        </a>
                                        <div class="geodir-category-location">
                                            <a href="#1" class="map-item tolt" data-microtip-position="top-left" data-tooltip="On the map"><i class="fas fa-map-marker-alt"></i> {{ property.location }}</a>
                                        </div>
                                        <ul class="list-single-opt_header_cat">
                                            <li><a href="#" class="cat-opt blue-bg">{{ property.list_type }}</a></li>
                                            <li><a href="#" class="cat-opt color-bg">{{ property.home_type}}</a></li>
                                        </ul>
                                        <a href="#" class="geodir_save-btn tolt" data-microtip-position="left" data-tooltip="Save"><span><i class="fal fa-heart"></i></span></a>
                                        <a href="#" class="compare-btn tolt" data-microtip-position="left" data-tooltip="Compare"><span><i class="fal fa-random"></i></span></a>
                                        <div class="geodir-category-listing_media-list">
                                            <span><i class="fas fa-camera"></i> 8</span>
                                        </div>
                                    </div>
                                    <div class="geodir-category-content fl-wrap">
                                        <h3><a href="listing-single.html">{{ property.name }}</a></h3>
                                        <div class="geodir-category-content_price">$ {{ property.price }}</div>
                                        <p>{{ property.description }}</p>
                                        <div class="geodir-category-content-details">
                                            <ul>
                                                <li><i class="fal fa-bed"></i><span>{{ property.bedrooms }}</span></li>
                                                <li><i class="fal fa-bath"></i><span>{{ property.total_bathrooms }}</span></li>
                                                <li><i class="fal fa-cube"></i><span>{{ property.lot_size}} ft2</span></li>
                                            </ul>
                                        </div>
                                        <div class="geodir-category-footer fl-wrap">
                                            <a href="agent-single.html" class="gcf-company"><img src="{{ property.agent.profilepic.url }}" alt=""><span>By {{ property.agent.first_name }} {{ property.agent.last_name}}</span></a>
                                            <div class="listing-rating card-popup-rainingvis tolt" data-microtip-position="top" data-tooltip="Good" data-starrating2="3.9"></div>
                                        </div>
                                    </div>
                                </article>
                            </div>
                            {% endfor %}
                            <!-- listing-item end-->								
                        </div>
                        
                        <!-- listing-item-wrap end-->
                        <!-- pagination-->
                        <div class="pagination">
                            {% if propertys.has_previous %}
                            <a href="?page=1" class="prevposts-link"><i class="fa fa-caret-left"></i></a>
                            <a href="?page={{propertys.previous_page_number}}" >Prev</a>
                            {% endif %} 
                            {% for x in nums %}
                                {% if propertys.number == x %}
                            <a href="?page={{forloop.counter}}" class="current-page" disabled>{{ forloop.counter }}</a>
                                {% else %}
                            <a href="?page={{forloop.counter}}">{{ forloop.counter }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if propertys.has_next %}
                            <a href="?page={{propertys.next_page_number}}">Next</a>
                            <a href="?page={{propertys.paginator.num_pages}}" class="nextposts-link"><i class="fa fa-caret-right"></i></a>
                            {% endif %}
                        </div>
                        
                        <!-- pagination end-->						
                        <div class="small-footer fl-wrap">
                            <div class="copyright"> © Realtinic 2022 .  All rights reserved.</div>
                            <a class="custom-to-top color-bg custom-scroll-link" href="#main"><i class="fas fa-caret-up"></i></a>
                        </div>
                    </div>
                    <!-- col-list-wrap end -->
                </div>
                <!-- content end -->	
            </div>
            {% endblock content %}
            <!-- wrapper end -->
            <!--register form -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>